@use "sass:map";

$theme-light: (
  --primaryBackground: (hex: #ffffff, alpha: 1.0),

  --primaryColor: (hex: #171717, alpha: 1.0),
);

$theme-dark: (
  --primaryBackground: (hex: #21252b, alpha: 1.0),

  --primaryColor: (hex: #bdc1c6, alpha: 1.0),
);

@function color-to-rgba($color, $alpha) {
  @return rgba($color, $alpha);
}

@mixin generate-theme-variables($theme-map) {
  @each $key, $values in $theme-map {
    #{$key}: #{color-to-rgba(map.get($values, hex), map.get($values, alpha))};
  }
}

:root,
:root[data-theme="light"] {
  @include generate-theme-variables($theme-light);
}

@media (prefers-color-scheme: dark) {
  :root {
    @include generate-theme-variables($theme-dark);
  }
}

:root[data-theme="dark"] {
  @include generate-theme-variables($theme-dark);
}
