@use 'sass:map';

$breakpoints: (
  mobile: 375px,
  tablet: 768px,
  desktop: 1440px,
);

@mixin mobile {
  @media (max-width: calc(map.get($breakpoints, tablet) - 0.1px)) {
    @content;
  }
}

@mixin onlyMobile {
  @media (min-width: map.get($breakpoints, mobile)) and (max-width: calc(map.get($breakpoints, tablet) - 0.1px)) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: map.get($breakpoints, tablet)) {
    @content;
  }
}

@mixin onlyTablet {
  @media (min-width: map.get($breakpoints, tablet)) and (max-width: calc(map.get($breakpoints, desktop) - 0.1px)) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: map.get($breakpoints, desktop)) {
    @content;
  }
}
