.book-page {
  & .container {
    display: grid;
    grid-template-columns: auto 1fr;

    padding: 10px var(--paddingContainer);

    @include tablet {
      grid-template-rows: auto 1fr;

      padding: 20px var(--paddingContainer);
    }

    @include desktop {
      padding: 30px var(--paddingContainer);
    }
  }

  &__block-icon {
    grid-column: 1;
    grid-row: span 2;

    width: 100%;

    padding: 0 5px 10px 0;
    margin-bottom: 2px;

    border-bottom: 1px solid var(--primaryBorder);

    @include tablet {
      padding: 0 10px 10px 0;
      margin-right: 2px;

      border-right: 1px solid var(--primaryBorder);
      border-radius: 0 0 4px 0;
    }
  }

  &__icon-container {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    width: 80px;
    height: 120px;

    border: 1px solid var(--primaryBorder);
    border-radius: 3px;
    overflow: hidden;

    flex: 0 0 auto;

    @include tablet {
      width: 196px;
      height: 294px;
    }
  }

  &__icon {
    object-fit: fill;
  }

  &__block-title {
    grid-column: 2;
    grid-row: span 2;

    width: 100%;

    padding: 0 0 10px 5px;
    margin-bottom: 2px;
    border-bottom: 1px solid var(--primaryBorder);

    @include tablet {
      grid-row: 1;

      padding: 0 0 10px 10px;
      margin-left: 2px;

      border-left: 1px solid var(--primaryBorder);
      border-radius: 0 0 0 4px;
    }
  }

  &__title {
    font-size: 22px;
    font-weight: 600;
    line-height: 1.3;

    @include tablet {
      font-size: 28px;
    }
  }

  &__block-description {
    grid-column: span 2;
    grid-row: 3;

    width: 100%;

    padding: 10px 0 10px 0;
    margin-bottom: 2px;

    border-top: 1px solid var(--primaryBorder);
    border-bottom: 1px solid var(--primaryBorder);

    @include tablet {
      grid-column: 2;
      grid-row: 2;
      overflow: hidden;

      padding: 10px 0 10px 10px;
      margin-left: 2px;

      border-left: 1px solid var(--primaryBorder);
      border-radius: 4px 0 0 4px;
    }
  }

  &__block-action {
    grid-column: span 2;
    grid-row: 4;

    display: flex;
    justify-content: space-around;
    width: 100%;

    padding: 10px 0 10px 0;
    margin-bottom: 2px;

    border-top: 1px solid var(--primaryBorder);
    border-bottom: 1px solid var(--primaryBorder);

    @include tablet {
      grid-column: 1;
      grid-row: 3;

      padding: 10px 10px 10px 0;
      margin-right: 2px;

      border-right: 1px solid var(--primaryBorder);
      border-radius: 0 4px 4px 0;
    }
  }

  &__action-btn {
    position: relative;
    flex: 0 0 auto;

    height: 100%;

    padding: 4px;
    border: none;
    border-radius: 5px;

    background-color: var(--secondaryBtnDefault);

    @include desktop {
      transition: background-color 150ms linear;
  
      &:hover {
        background-color: var(--secondaryBtnHover);
      }
    }

    &:active {
      background-color: var(--secondaryBtnActive);
    }
  }

  &__favorite-icon {
    width: 32px;
    height: auto;
  }

  &__reading-icon {
    width: auto;
    height: 30px;
  }

  &__share-icon {
    width: 28px;
    height: auto;
  }
}
